
exec { 'apt-get update':
  path => ['/usr/bin'],
}

class { 'omeka':
  hostname => '{{vm_host}}',
  rootdir  => '/vagrant',
  require  => Exec['apt-get update'],
  debug    => true,
}

{{#plugins}}
omeka::gitplugin { '{{name}}':
  url     => '{{git}}',
  require => Class['Omeka'],
}
{{/plugins}}

{{#themes}}
omeka::gittheme { '{{name}}' :
  url     => '{{git}}',
  require => Class['Omeka'],
}
{{/themes}}

